<div class="container">
  <div class="row">
    <div class="col-md-6">
        <form #f='ngForm' (ngSubmit)='save(f.value)'>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" #title="ngModel" [(ngModel)]="product.title" name="title" id="title" class="form-control" required>
              <div class="alert alert-danger" *ngIf='title.touched && title.invalid'>
                title is required;
              </div>
            </div>
            <label for="price">Price</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Rs</span>
              </div>
              <input type="text" #price='ngModel' [(ngModel)]='product.price' name="price" 
              class="form-control" aria-label="price" 
              aria-describedby="basic-addon1" required [min]='5'>
            </div>
            <div class="alert alert-danger" *ngIf='price.touched && price.invalid'>
              <div *ngIf='price.errors.required'> price is required</div>
              <div *ngIf='price.errors.min'>price should be 5 or higher</div>
            </div>
            <div class="form-group">
              <label for="catagory">Catagory</label>
              <select id="catagory" #catagory='ngModel'  [(ngModel)]='product.catagory' name="catagory" class="form-control" required>
                <option value="">select categories...</option>
                <option *ngFor="let c of categories$ | async" [value]="c.$key">
                  {{c.name}}
                </option>
              </select>
              <div class="alert alert-danger" *ngIf='catagory.touched && catagory.invalid'>
                catagory is required
              </div>
            </div>
            <div class="form-group">
              <label for="imgurl">Image Url</label>
              
            
              <input  #imgUrl='ngModel' [(ngModel)]="product.imgUrl" name="imgUrl" id="imgUrl" class="form-control" required url > 
            </div>
            
            <div class="alert alert-danger" *ngIf='imgUrl.touched && imgUrl.invalid'>
              <div *ngIf="imgUrl.errors.required">Image Url is required</div>
              <div *ngIf="imgUrl.errors.url">please enter a valid URL</div>
              
            </div>
            <button class="btn btn-primary" [disabled]="!f.valid" type="submit">save</button>
            <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
          
          </form>
    </div>
    
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src] = 'product.imgUrl' *ngIf="product.imgUrl" >
            <div class="card-body">
                 
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.price | currency:"₹"}}</p>
              
            
            </div>
          </div>
    </div>
  </div>
</div>