<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control">
  </div>
  <!-- <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" id="price" class="form-control">
    </div>
  </div> -->

  <div class="input-group">
   
    <div class="input-group-prepend">
      <span class="input-group-text" id="price">@</span>
    </div>
    <label for="price">price</label>
    <input type="text" class="form-control" placeholder="Username" id="price">
  </div>



  <div class="form-group">
    <label for="catagory">Catagory</label>
    <select id="catagory" class="form-control">
      <option value="">apple</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imgurl">Image Url</label>
    <input type="text" id="imgurl" class="form-control">
  </div>
  <button class="btn btn-primary">save</button>

</form>